* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  background: #111111;
}

h1 {
  font-size: 40px;
  width: 90%;
  margin: auto;
  padding: 30px 0;
  color: #ffffff;
}

.container {
  display: grid;
  grid-gap: 10px 10px;
  width: 90%;
  margin: 0 auto 50px auto;
}

.serial-no {
  position: absolute;
  padding: 10px;
  top: 10px;
  left: 10px;
  background: #c0c0c0;
  color: #181818;
  border-radius: 10px;
  font-size: 14px;
}

.box:hover .serial-no {
  display: none;
}

.box {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  filter:grayscale(1);
  transition: 0.3s;
}

.box:hover {
  filter: grayscale(0);
}

.box .box-img {
  max-width: 100%;
}

.box1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.box2 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.box3 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.box4 {
  grid-column: 1/2;
  grid-row: 4/5;
}

.box5 {
  grid-column: 2/3;
  grid-row: 4/5;
}

.box6 {
  grid-column: 1/3;
  grid-row: 5/7;
}

.box7 {
  grid-column: 1/2;
  grid-row: 7/8;
}

.box8 {
  grid-column: 2/3;
  grid-row: 7/8;
}

.box9 {
  grid-column: 1/2;
  grid-row: 8/9;
}

.box10 {
  grid-column: 2/3;
  grid-row: 8/9;
}

@media (min-width: 426px) {

  .serial-no{
    font-size: 16px;
    padding: 15px;
  }

  .box1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .box2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .box3 {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .box4 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .box5 {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .box6 {
    grid-column: 2/4;
    grid-row: 3/5;
  }

  .box7 {
    grid-column: 1/3;
    grid-row: 5/7;
  }

  .box8 {
    grid-column: 3/4;
    grid-row: 5/6;
  }

  .box9 {
    grid-column: 3/4;
    grid-row: 6/7;
  }

  .box10 {
    grid-column: 1/2;
    grid-row: 7/8;
  }
}
@media (min-width: 769px) {

  .serial-no{
    font-size: 20px;
    padding: 15px;
  }

  .box1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .box2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .box3 {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .box4 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .box5 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .box6 {
    grid-column: 3/5;
    grid-row: 2/4;
  }

  .box7 {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .box8 {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .box9 {
    grid-column: 3/5;
    grid-row: 4/6;
  }

  .box10 {
    grid-column: 1/3;
    grid-row: 5/7;
  }
}
