* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
}

.container {
  display: grid;
  grid-gap: 10px 10px;
  /* height: 100vh; */
}

.box .box-img {
  max-width: 100%;
  height: auto;
}

.box1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.box2 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.box3 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.box4 {
  grid-column: 1/2;
  grid-row: 4/5;
}

.box5 {
  grid-column: 2/3;
  grid-row: 4/5;
}

.box6 {
  grid-column: 1/3;
  grid-row: 5/7;
}

.box7 {
  grid-column: 1/2;
  grid-row: 7/8;
}

.box8 {
  grid-column: 2/3;
  grid-row: 7/8;
}

.box9 {
  grid-column: 1/2;
  grid-row: 8/9;
}

.box10 {
  grid-column: 2/3;
  grid-row: 8/9;
}

@media (min-width: 426px){
  .box1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  
  .box2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  
  .box3 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  
  .box4 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  
  .box5 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  
  .box6 {
    grid-column: 2/4;
    grid-row: 3/5;
  }
  
  .box7 {
    grid-column: 1/3;
    grid-row: 5/7;
  }
  
  .box8 {
    grid-column: 3/4;
    grid-row: 5/6;
  }
  
  .box9 {
    grid-column: 3/4;
    grid-row: 6/7;
  }
  
  .box10 {
    grid-column: 1/2;
    grid-row: 7/8;
  }
}
@media (min-width: 769px){
  .box1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  
  .box2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  
  .box3 {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  
  .box4 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  
  .box5 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  
  .box6 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  
  .box7 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  
  .box8 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  
  .box9 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  
  .box10 {
    grid-column: 3/5;
    grid-row: 3/5;
  }
}